<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ItfResidentTransactions2_0Soap" />
                <binding name="ItfResidentDataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.yardiyc1.com/8223tp708dev/webservices/ItfResidentTransactions20.asmx"
                binding="basicHttpBinding" bindingConfiguration="ItfResidentTransactions2_0Soap"
                contract="ResidentTransactions.ItfResidentTransactions2_0Soap"
                name="ItfResidentTransactions2_0Soap" />
            <endpoint address="http://www.yardiyc1.com/8223tp708dev/webservices/ItfResidentData.asmx"
                binding="basicHttpBinding" bindingConfiguration="ItfResidentDataSoap"
                contract="ResidentData.ItfResidentDataSoap" name="ItfResidentDataSoap" />
        </client>
    </system.serviceModel>
</configuration>