@using RazorEngine
@inherits RazorEngine.Templating.TemplateBase<ApartmentApps.Api.DailyOfficerReport>
@{
    Layout = "_Layout";
}
@{
    var completed = Model.Checkins.Where(p => p.Complete).ToArray();
    var count = completed.Length;
}
<p>There were @count courtesy officer checkins yesterday.</p>
@if (count > 0)
{
<table>
    <tr>
        <td><img src="@Model.StaticMapUrl" /></td>
        <td><table>
            <tr>
                @if (completed.All(x => x.Officer != null))
                {
                    <th>Officer</th>
                }
              
                <th>Location</th>
                <th>Checkin Time</th>
            </tr>
            @foreach (var item in completed)
            {
                <tr>
                    @if (item.Officer != null)
                    {
                        <td>@item.Officer.FullName</td>
                    }
                 
                    <td>@item.Label</td>
                    <td>@item.Date</td>
                </tr>
            }
        </table></td>
    </tr>
</table>
}