   <section *ngIf="userInfo != null" widget class="widget">
      <div class="widget-controls">
        <a href="#"><i class="fa fa-refresh"></i></a>
        <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
      </div>
      <div class="widget-body">
        <div class="post-user mt-n-xs">
          <span class="thumb pull-left mr">
            <img class="rounded-circle" src="{{userInfo.imageThumbnailUrl}}" alt="{{userInfo.fullName}}">
          </span>
          <h6 class="mb-xs mt-xs">{{userInfo.firstName}} <span class="fw-semi-bold">{{userInfo.lastName}}</span></h6>
          <p class="fs-mini text-muted"><time>{{timeAgo}}</time> &nbsp; <i class="fa fa-map-marker"></i> {{userInfo.buildingName}} {{userInfo.unitName}}</p>
        </div>
        <div *ngIf='images != null && images.length > 0' class="widget-middle-overflow windget-padding-md clearfix bg-danger text-white">
          <!-- Put scroller here -->
          <ng-content></ng-content>
          <ul class="tags text-white pull-right">
              <li *ngFor='let tag of tags'>
                <a href="#">{{tag}}</a>
              </li>
          </ul>
        </div>

        <p *ngIf='bodyText != null' class="text-light fs-mini mt-sm">{{bodyText}}</p>

        <ng-content *ngIf='bodyText == null'>

        </ng-content>
      </div>
      <footer class="bg-body-light">

        <ul class="post-links">
          <li><a href="#">1 hour</a></li>
          <li><a href="#"><span class="text-danger"><i class="fa fa-heart"></i> Like</span></a></li>
          <li><a href="#">Comment</a></li>
        </ul>
        <ul class="post-comments mt mb-0" app-comments [comments]='comments'>

        </ul>

      </footer>
    </section>
