_ReSharper.Caches/
bin
/ApartmentApps.API.Service/obj
obj
/ResidentAppCross/ResidentAppCross.iOS/obj
/ResidentAppCross/ResidentAppCross.Droid/obj
/ResidentAppCross/ResidentAppCross.WinPhone/obj
/ResidentAppCross/ResidentAppCross.iOS/bin
/ResidentAppCross/ResidentAppCross.Droid/bin
/ResidentAppCross/ResidentAppCross.Droid-Java/
/ResidentAppCross/ResidentAppCross.WinPhone/bin


packages
Components
Components
/.vs/config/applicationhost.config
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/AgentRestart.dat
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.API.Service.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.API.Service.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Api.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Api.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Data.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Data.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Forms.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Forms.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.IoC.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.IoC.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Alerts.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Alerts.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.CourtesyOfficer.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.CourtesyOfficer.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Inspections.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Inspections.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Maintenance.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Maintenance.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Messaging.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Messaging.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Payments.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Payments.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Prospect.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Modules.Prospect.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Payments.Forte.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Payments.Forte.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Portal.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Portal.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ApartmentApps.Tests.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/DBDiff.Front.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/DBDiff.Schema.SQLServer.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/DBDiff.Schema.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/EntityFramework.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Entrata.Client.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Entrata.Client.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/ExpressiveAnnotations.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/INIFileParser.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Korzh.EasyQuery.Db.NET45.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Korzh.EasyQuery.Mvc.NET45.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Korzh.EasyQuery.NET45.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Korzh.EasyQuery.Services.Db.NET45.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Korzh.Utils.Db.NET45.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.AspNet.Identity.Core.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.AspNet.Identity.EntityFramework.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.AspNet.Identity.Owin.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Azure.KeyVault.Core.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Azure.NotificationHubs.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Data.Edm.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Data.OData.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Data.Services.Client.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Owin.Host.SystemWeb.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Owin.Security.Cookies.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Owin.Security.OAuth.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Owin.Security.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Owin.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Practices.ServiceLocation.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Practices.ServiceLocation.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Practices.Unity.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.Web.Infrastructure.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.WindowsAzure.Storage.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Microsoft.WindowsAzure.Storage.pdb
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Newtonsoft.Json.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Ninject.Web.Common.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Ninject.Web.Mvc.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Ninject.Web.WebApi.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Ninject.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Owin.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/RazorEngine.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/SendGrid.CSharp.HTTP.Client.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/SendGrid.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Swashbuckle.Core.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Net.Http.Formatting.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Spatial.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.Http.Owin.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.Http.WebHost.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.Http.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.Mvc.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.Optimization.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.Razor.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.WebPages.Deployment.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.WebPages.Razor.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/System.Web.WebPages.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/Unity.Mvc5.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/WebActivatorEx.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/apartmentapps.tests.dll
TestResults/micah_DESKTOP-T2KHNRD 2016-12-26 23_22_14/Out/apartmentapps.tests.dll.config
.vs/ResidentAppCross/v14/.suo
