_ReSharper.Caches/
bin
/ApartmentApps.API.Service/obj
obj
/ResidentAppCross/ResidentAppCross.iOS/obj
/ResidentAppCross/ResidentAppCross.Droid/obj
/ResidentAppCross/ResidentAppCross.WinPhone/obj
/ResidentAppCross/ResidentAppCross.iOS/bin
/ResidentAppCross/ResidentAppCross.Droid-Java/
/ResidentAppCross/ResidentAppCross.WinPhone/bin
/ResidentAppCross/ResidentAppCross.iOS/bin

packages
Components
Components
