
  <div [ngSwitch]='model.editorType'>
    <div *ngSwitchCase="'SelectMultiple'">
      <!--<input type="text" [(ngModel)]="value" (ngModelChange)='valueChanged()' />-->
      <div *ngIf="items != null">
        <select2 [data]='items'
          [width]='250'
          [options]="{ multiple: true }"
         (valueChanged)="changed($event)"></select2>
      </div>

    </div>
        <div *ngSwitchCase="'CheckboxList'">
      <!--<input type="text" [(ngModel)]="value" (ngModelChange)='valueChanged()' />-->
      <div *ngIf="items != null">
        <div *ngFor="let item of items">

          <input type="checkbox" (change)="checkboxListItemChanged($event, item)" />
          <label>{{item.text}}</label>
        </div>


      </div>

    </div>

  </div>
