@model System.Collections.Generic.List<ApartmentApps.Api.Modules.DashboardComponentViewModel>

<div class="row">
    @foreach (var column in Model.GroupBy(p => p.Col).OrderBy(p => p.Key))
    {
        
        <div class="col-md-6">
            @foreach (var item in column)
            {
                <div class="ibox float-e-margins">
                    <div class="ibox-title">

                        <h5>@item.Title</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            @Html.Partial("~/Views/Shared/Components/" + item.GetType().Name + ".cshtml")
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>