<div class="modal-header">
    <button type="button" class="close close-link" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    @*<i class="fa fa-laptop modal-icon"></i>*@
    <h4 class="modal-title">@ViewBag.Title</h4>
    @*<small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>*@
</div>
<div class="modal-body">
    @RenderBody()
</div>
<div class="modal-footer">
    @if (IsSectionDefined("Buttons"))
    {
        @RenderSection("Buttons", false)
    }
    else
    {
        <button type="button" class="btn btn-white close-link" data-dismiss="modal">Close</button>
        <button  class="btn btn-primary close-link" onclick="document.forms[document.forms.length - 1].submit();" >Apply</button>
    }
</div>