<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Apartment Apps Portal @ViewBag.Title</title>
    <link href="/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/css/font-awesome.css" rel="stylesheet">
    <script src="/js/jquery.min.js"> </script>
    <!-- Mainly scripts -->
    <script src="/js/jquery.metisMenu.js"></script>
    <script src="/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="/css/custom.css" rel="stylesheet">
    <script src="/js/custom.js"></script>
    <script src="/js/screenfull.js"></script>
    <!--skycons-icons-->
    <script src="/js/skycons.js"></script>
    @*@Styles.Render("~/Content/css")*@
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<!--//skycons-icons-->

<body>
@RenderBody()


@Scripts.Render("~/bundles/jquery")
<!--scrolling js-->
<script src="/js/jquery.nicescroll.js"></script>
<script src="/js/scripts.js"></script>
<!--//scrolling js-->
<script src="/js/bootstrap.min.js"> </script>
@*@Scripts.Render("~/bundles/bootstrap")*@
@RenderSection("scripts", required: false)
</body>
</html>
