<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            @*<form role="search" class="navbar-form-custom" method="post" action="">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>*@
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
        @if (TempData["GlobalError"] != null)
        {
            <nav>

                <div class="alert alert-danger">
                    <strong>Error: </strong> @TempData["GlobalError"]
                </div>
            </nav>
            {
                TempData["GlobalError"] = null;
            }
        }
        @if (TempData["GlobalSuccess"] != null)
        {

            <nav>

                <div class="alert alert-success">
                    <strong>Done! </strong> @TempData["GlobalSuccess"]
                </div>
            </nav>
            {
                TempData["GlobalSuccess"] = null;
            }
        }
</div>