@model ApartmentApps.Api.Modules.MakePaymentResult
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Success!</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Thank you for your payment!</strong>
            </li>
        </ol>
    </div>
</div>
