@using ApartmentApps.Data
@using Syncfusion.JavaScript.Models
@using DataSource = Syncfusion.JavaScript.DataSource
@model IEnumerable<BuildingViewModel>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Buildings</h5>
                    <div class="ibox-tools">
                        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-xs" })
                    </div>
                </div>
                <div class="ibox-content">
                    @(
                    Html.EJ().Grid<BuildingViewModel>("Grid")
                    .Datasource(ds => ds.URL(Url.Action("DataSource")).Adaptor(AdaptorType.UrlAdaptor))
                    //.Datasource(Model.ToArray())
                    .Mappers(map =>
                        map
                        .ExportToExcelAction(Url.Action("ExportToExcel"))
                        .ExportToPdfAction(Url.Action("ExportToPdf"))
                        .ExportToWordAction(Url.Action("ExportToWord"))
                    )
                     .ToolbarSettings(toolbar =>
                     {
                         toolbar.ShowToolbar().ToolbarItems(items =>
                         {
                             items.AddTool(ToolBarItems.ExcelExport);
                             items.AddTool(ToolBarItems.WordExport);
                             items.AddTool(ToolBarItems.PdfExport);
                         });
                     })

                    .FilterSettings(filter => { filter.FilterType(FilterType.Excel).EnableCaseSensitivity(true); })
                    //.EditSettings(edit => { edit.AllowAdding().AllowDeleting().AllowEditing().EditMode(EditMode.Dialog); })
                    .EnableToolbarItems(true)
                    //.ToolbarSettings(_=>_.ToolbarItems(new List<ToolBarItems>() { new Toolbarit}))
                    .AllowPaging(true)
                    .AllowGrouping()
                    .AllowSorting(true)
                    .AllowFiltering()
                    .Columns(c =>
                    {
                        c.Field(model => model.Name).HeaderText("Unit Name").Add();
                        c.HeaderText("").Template(Html.ActionLink("Delete","Delete",new { id="{{:Id}}" }).ToString());
                    })
                    )


                </div>
            </div>
        </div>
    </div>
</div>



