@using System.ComponentModel.DataAnnotations
@model ApartmentApps.Forms.GridModel


<div class="row">

    <table class="table table-bordered">
        <thead>
            <tr>
                @foreach (var property in Model.Properties.Where(p => p.Hidden == false))
            {
                    <th>@property.Label</th>
                }
                @if (Model.Editable)
            {
                    <th></th>
                }
                @if (Model.Deletable)
            {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    @foreach (var property in Model.Properties.Where(p => p.Hidden == false))
                {
                        <td>@property.PropertyInfo.GetValue(item)</td>
                    }
                    @if (Model.Editable)
                {
                        <td>Edit</td>
                    }
                    @if (Model.Deletable)
                {
                        <td>Delete</td>
                    }
                </tr>

            }
        </tbody>




    </table>

</div>
