@using System.ComponentModel.DataAnnotations
@model ApartmentApps.Forms.GridModel

<div class="row">
    @(Html.EJ().Grid<object>("Grid")
        .Datasource(Model.Items)
        .AllowSelection(true)
        .ClientSideEvents(_=>_.RecordDoubleClick("recordDoubleClick"))
        .ToolbarSettings(toolbar =>
        {
            toolbar.ShowToolbar().ToolbarItems(items =>
            {

                items.AddTool(ToolBarItems.Add);
                items.AddTool(ToolBarItems.Edit);
                items.AddTool(ToolBarItems.Delete);
            });

        })
        .Columns(_ =>
        {
            foreach(var property in Model.Properties)
            {

                var column = _.HeaderText(property.Label).Field(property.Name);
                if (property.Hidden)
                {
                    column.Visible(false);
                }
                column.Add();
            }
            _.HeaderText().Template(WebUtility.UrlDecode(Html.ActionLink("Edit", "Entry", new {id = "{{:Id}}"}).ToString())).disableHtmlEncode(true).Add();
            _.HeaderText().Template(WebUtility.UrlDecode(Html.ActionLink("Delete", "Delete", new {id = "{{:Id}}"}, new { onclick = "return confirm('Are you sure you wish to delete this item?');" }).ToString())).disableHtmlEncode(true).Add();
        }))

</div>
