@using System.ComponentModel.DataAnnotations
@using System.Reflection
@using ApartmentApps.Forms
@using ApartmentApps.Portal.Controllers
@using Korzh.EasyQuery.Mvc
@model ApartmentApps.Forms.GridModel
@{
    FormPropertyModel idProperty = Model.Properties.FirstOrDefault(p => p.Name.ToLower() == "id");
}

<script type="text/javascript">

    // Load the Visualization API and the piechart package.
    //google.load('visualization', '1.0', { 'packages': ['corechart'] });

    //// Set a callback to run when the Google Visualization API is loaded.
    //google.setOnLoadCallback(GoogleVisualizationLoaded);

    function GoogleVisualizationLoaded() {
        //alert("Visualization loaded!!!";)
    }
    //Settings for EasyQuery pages
    window.easyQueryViewSettings = {
        showChart: false,
        clearQueryButtonId: "myClearButton"
    };
    window.easyQuerySettings = {
        serviceUrl: getPrefix(),
        loadDefaultModel: true,
        useBootstrap:true

    };

    function getPrefix() {
        var res = window.location.pathname;
        if (res.charAt(res.length - 1) !== '/')
            res = res + '/';
        return res;
    }


</script>

@Html.FilterBar(null)
<div id="ResultPanel">

 @Html.Partial("~/Views/Shared/Forms/GridPartial.cshtml", Model )
</div>



@*<table class="table table-striped" style="margin-bottom: 0px;">
        <thead>
            <tr>

            </tr>
        </thead>
        <tbody>

        </tbody>

    </table>*@
