<li  *ngFor="let commentItem of comments">
  <span class="thumb-xs avatar pull-left mr-sm">
              <img class="rounded-circle" src="{{commentItem.userInfo.imageThumbnailUrl}}" alt="{{commentItem.userInfo.fullName}}">
            </span>
            <div class="comment-body">
              <h6 class="author fs-sm fw-semi-bold">{{commentItem.userInfo.fullName}} <small>{{commentItem.time}}</small></h6>
              <p class="fs-mini">{{this.commentItem.comment}}</p>
            </div>
</li>

  <!--<li>
    <span class="thumb-xs avatar pull-left mr-sm">
              <img class="rounded-circle" src="assets/img/avatar.png" alt="...">
            </span>
            <div class="comment-body">
              <input class="form-control form-control-sm" type="text" placeholder="Write your comment...">
            </div>
  </li>-->

