@inherits RazorEngine.Templating.TemplateBase<ApartmentApps.Portal.Controllers.MaintenanceReportViewModel>
@{
 }
    <!DOCTYPE html>
    <html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Monthly Maintance Report</title>
        <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="../../Content/style.css" rel="stylesheet" type="text/css" />
        <style>
            .table-striped > tbody > tr:nth-of-type(odd) {
                background-color: #f9f9f9;
            }

            td {
                border-right: 1px solid #e7eaec;
                border-left: 1px solid #e7eaec;
            }
        </style>

    </head>

    <body class="md-skin pace-running">
        <center><h3>Monthly Maintance Report:</h3></center>
        <center><h3>For:</h3></center>
        <center>
            <table class="table table-striped" style="width:750px;">
                <tbody style="border-bottom: 1px solid #e7eaec;">


                    <tr>
                        <td style="font-weight:bold;"></td>
                        <td></td>
                    </tr>


                </tbody>
            </table>
        </center>
    </body>
</html>
