@model dynamic
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Send Message</h2>
        <p>Send notifications to your staff and tenants.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Send To Users</h5><br />

                @*<div class="ibox-tools">
                        @Html.ActionLink("Submit Request", "EditUser", null, new { @class = "btn btn-primary btn-xs" })
                    </div>*@
            </div>
            <div class="ibox-content">
                <p>
                    Filter the grid to the users you would like to send a notification to. <b>Note:</b> If you don't filter it will be sent to everyone.
                </p>
                <script type="text/javascript">

                    // Load the Visualization API and the piechart package.
                    //google.load('visualization', '1.0', { 'packages': ['corechart'] });

                    //// Set a callback to run when the Google Visualization API is loaded.
                    //google.setOnLoadCallback(GoogleVisualizationLoaded);

                    function GoogleVisualizationLoaded() {
                        //alert("Visualization loaded!!!";)
                    }

                   // window.initialQuery = TODO
                    //Settings for EasyQuery pages
                    window.easyQueryViewSettings = {
                        showChart: false,
                        clearQueryButtonId: "myClearButton"
                    };
                    window.easyQuerySettings = {
                        serviceUrl: getPrefix(),
                        loadDefaultModel: true,
                        useBootstrap: true

                    };

                    function getPrefix() {
                        return '@(Url.Action("Index")?.Replace("Index",""))';
                        //var res = window.location.pathname;
                        //if (res.charAt(res.length - 1) !== '/')
                        //    res = res + '/';
                        //return res;
                    }
                </script>
                <div id="QueryPanel"></div>
                @*@Html.FilterBar()*@
                <div class="eqjs-fb-buttonsblock">
                    <a href="javascript:void(0)" class="btn btn-primary btn-sm" onclick="EQ.view.grid.applyFilter()">Apply Filter</a>
                    <a href="javascript:void(0)" class="btn btn-default">Clear</a>
                </div>
                <div id="ResultPanel"></div>


            </div>
        </div>
    </div>
</div>




@section csspage {

    #message_img_explorercreation {
    display: none;
    }

    #message_img_explorernavigation {
    display: none;
    }

    #message_img_exploreraddressBar {
    display: none;
    }

    #message_img_explorerDelete {
    display: none;
    }


}