<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mbprogresshud" version="0.9.2.0" targetFramework="xamarinios10" />
  <package id="Microsoft.Rest.ClientRuntime" version="0.9.6" targetFramework="xamarinios10" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Messenger" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.PictureChooser" version="4.0.0" targetFramework="xamarinios10" />
  <package id="MvvmCross.PortableSupport" version="3.5.1" targetFramework="xamarinios10" />
  <package id="ZXing.Net.Mobile" version="2.0.4.19" targetFramework="xamarinios10" />
</packages>