@model ApartmentApps.Api.Modules.LineChartViewModel
@{
    var id = "chart_" + Model.GetHashCode().ToString();
}

<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div>
            @*<span class="pull-right text-right">
                <small>Average value of sales in the past month in: <strong>United states</strong></small>
                <br />
                All sales: 162,862
            </span>*@
            <h1 class="m-b-xs">@Model.Title</h1>
            <h3 class="font-bold no-margins">
                @Model.Subtitle
            </h3>
       
        </div>
        <div class="flot-chart">
            <div class="flot-chart-content" id="@(id)"></div>
        </div>

  
        @*<div class="m-t-md">
            <small class="pull-right">
                <i class="fa fa-clock-o"> </i>
                Update on 16.07.2015
            </small>
            <small>
                <strong>Analysis of sales:</strong> The value has been changed over time, and last month reached a level over $50,000.
            </small>
        </div>*@

    </div>
</div>

@*@if (Model.Data.Length > 0)
{*@
    <script>
        $(function() {
            var barOptions = {
                series: {
                    lines: {
                        show: true,
                        lineWidth: 2,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.0
                            }, {
                                opacity: 0.0
                            }]
                        }
                    }
                },
                xaxis: {
                    tickDecimals: 0
                },
                colors: ["#1ab394"],
                grid: {
                    color: "#999999",
                    hoverable: true,
                    clickable: true,
                    tickColor: "#D4D4D4",
                    borderWidth: 0
                },
                legend: {
                    show: false
                },
                tooltip: true,
                tooltipOpts: {
                    content: "x: %x, y: %y"
                }
            };
            var barData =
                @(Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.datasets)));
            
            $.plot($("#@(id)"), barData, barOptions);
        });


    </script>
@*}*@


