@model IEnumerable<ApartmentApps.Data.Corporation>

@{
    ViewBag.Title = "Index";
}
<style type='text/css'>
    /*設定 數字靠右*/
    td:nth-child(2){text-align: right;}
</style>
<h2>Index</h2>
<h4>Corporation</h4>
<p>
    @Html.ActionLink("Create New", "CorporationCreate")
</p>
<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "CorporationEdit", new { id=item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>

    </tr>
}

</table>
