<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_ITransactionService">
                    <security mode="Transport" />
                </binding>
                <binding name="BasicHttpBinding_IMerchantService">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewaySoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentGatewaySoap1" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IClientService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_ITransactionService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
                <binding name="WSHttpBinding_IMerchantService">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sandbox.paymentsgateway.net/ws/Client.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IClientService"
                contract="Forte.Client.IClientService" name="WSHttpBinding_IClientService" />
            <endpoint address="https://sandbox.paymentsgateway.net/ws/Client.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientService"
                contract="Forte.Client.IClientService" name="BasicHttpBinding_IClientService" />
            <endpoint address="https://sandbox.paymentsgateway.net/ws/Transaction.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITransactionService"
                contract="Forte.Transaction.ITransactionService" name="WSHttpBinding_ITransactionService" />
            <endpoint address="https://sandbox.paymentsgateway.net/ws/Transaction.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionService"
                contract="Forte.Transaction.ITransactionService" name="BasicHttpBinding_ITransactionService" />
            <endpoint address="https://sandbox.paymentsgateway.net/ws/Merchant.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IMerchantService"
                contract="Forte.Merchant.IMerchantService" name="WSHttpBinding_IMerchantService" />
            <endpoint address="https://sandbox.paymentsgateway.net/ws/Merchant.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMerchantService"
                contract="Forte.Merchant.IMerchantService" name="BasicHttpBinding_IMerchantService" />
            <endpoint address="https://ws.paymentsgateway.net/pgtest/paymentsgateway.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentGatewaySoap"
                contract="PaymentGateway.PaymentGatewaySoap" name="PaymentGatewaySoap" />
        </client>
    </system.serviceModel>
</configuration>