@model dynamic

@{
    ViewBag.Title = "Mobile View";
    Layout = "~/Views/Shared/_MobileClientViewLayout.cshtml";
}



<div class="media">
    <img class="pull-left img-responsive" src="https://image.freepik.com/free-icon/phone-round_318-27998.jpg" style="max-width: 9.33%">
    <div class="media-body">
        <h2>Kitchen Sink</h2>

        <div>
            <hr />
            <p>
                Ap. #1026, 5678 Street D
            </p>
            <hr />
            <p>
                UPD: Skylar T. has accepted the new repair date - 19A...
            </p>
            <hr />
            <small>2 hours ago</small>
        </div>
    </div>
</div>
